{# 
  ============================================
  ПІДВАЛ САЙТУ - FOOTER
  ============================================
#}

<div class="container">
  <p>&copy; 2026 Українська класична гімназія</p>
</div>
